main .row {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .row .item {
    width: 30%;
    margin-top: 5%;
    max-width: 110px;
}

main .row .item img.pic {
    width: 85%;
    display: table-cell;
    margin: 0 auto;
    border-radius: 20%;
}

main .row .item .title {
    border: 1px solid #009788;
    border-radius: 5px;
    padding-left: 10%;
    overflow: hidden;
    margin-top: 5%;
}

main .row .item .title img {
    width: 20%;
    float: left;
    display: block;
    margin: 5% 7% 0 0;
}

main .row .item .title p {
    float: left;
    display: block;
    margin: 5% 0;
    color: #009788;
    font-size: 0.14rem;
}